ol,ul:not(.contains-task-list),ul:not(.contains-task-list) li{
	list-style: none;
	counter-reset: section;
	/*padding-left: 24px;*/
	padding-left: 0px;
}

/* 使用定位模式,使文本自动换行对齐 */
ol li::before{
	counter-increment: section;
	content: counter(section) "、";
	position: absolute;
	top: -2px;
	left: 4px;

}

ul.contains-task-list{
	/*padding-left: 42.5px;*/
	padding-left: 0px;
}

ul.contains-task-list li{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -3px;
}

ul:not(.contains-task-list) li::before{
	content: "◆";
	font-size:0.8em;
	padding-right: 7px;
	position: absolute;
	top: 2px;
	left: 2.5px;
}

ul:not(.contains-task-list){
	padding-left: 0px;
}

li p{
	display: inline;
	margin-top: 2px;
	margin-bottom: 2px;
}

li{
	margin-top: 13px;
	position: relative;
	padding-left: 25px !important;
}

.markdown-preview-view .task-list-item-checkbox{
	margin-right: 9px;
}